<div class="sponsor-logos">
    <img src="{{site-base}}/public/img/aarmslogo.png" alt="AARMS logo" height="160" width="" align="left">
    <img src="{{site-base}}/public/img/canssi_logo.png" alt="CANSSI logo" height="160" width="" align="left">
    <img src="{{site-base}}/public/img/crm_logo.png" alt="CRM logo" height="160" width="" align="left"> 
    <img src="{{site-base}}/public/img/fields_logo.jpg" alt="Fields logo" height="160" width="" align="left">
    <img src="{{site-base}}/public/img/PIMS-circle-with-wordmark-CAPS.png" alt="PIMS logo" height="160" width="" align="left">
</div>
